# Test
TEST_SSH_HOST=0.0.0.0
TEST_SSH_USER=admin
TEST_SSH_PRIVATE_KEY=
TEST_DB_URL=mysql://app_user:app_password@localhost:3306/db_todoapp
TEST_PORT=3000

# Prod
PROD_SSH_HOST=0.0.0.0
PROD_SSH_USER=admin
PROD_SSH_PRIVATE_KEY=
PROD_DB_URL=mysql://app_user:app_password@localhost:3306/db_todoapp
PROD_PORT=80
